<?xml version="1.0"?>
<config>

    <modules>

        <Toni_Introduce>
            <version>1.0.0.0</version>
        </Toni_Introduce>

    </modules>
    <frontend>
        <routers>
            <introduce>
                <use>standard</use>

                <args>

                <module>Toni_Introduce</module>

                <frontName>introduce</frontName>

                </args>
            </introduce>
        </routers>
    </frontend>
    <global>

        <blocks>
            <introduce>
                <class>Toni_Introduce_Block</class>
            </introduce>
        </blocks>

        <models>
            <introduce>

                <class>Toni_Introduce_Model</class>
                <resourceModel>introduce_resource</resourceModel>

            </introduce>

            <introduce_resource>
                <class>Toni_Introduce_Model_Resource</class>
                <entities>
                    <user>
                        <table>introduce_user</table>
                    </user>
                </entities>
            </introduce_resource>

        </models>

        <resources>

            <introduce_setup>

                <setup>

                    <model>Toni_Introduce</model>

                </setup>

            </introduce_setup>

        </resources>

    </global>

</config>