<?xml version="1.0"?>
<config>

    <modules>

        <Toni_Introduce>
            <version>1.0.0.0</version>
        </Toni_Introduce>

    </modules>
    <frontend>
        <routers>
            <introduce>
                <use>standard</use>

                <args>

                <module>Toni_Introduce</module>

                <frontName>introduce</frontName>

                </args>
            </introduce>
        </routers>
        <events>
            <controller_action_predispatch_customer_account_createpost>

                <observers>

                    <introduce_intercept>

                        <class>introduce/observer</class>

                        <method>intercept</method>

                    </introduce_intercept>

                </observers>

            </controller_action_predispatch_customer_account_createpost>

        </events>
    </frontend>
    <global>
        <helpers>
            <introduce>
                <class>Toni_Introduce_Helper</class>
            </introduce>
        </helpers>
        <blocks>
            <introduce>
                <class>Toni_Introduce_Block</class>
            </introduce>
        </blocks>

        <models>
            <introduce>

                <class>Toni_Introduce_Model</class>
                <resourceModel>introduce_resource</resourceModel>

            </introduce>

            <introduce_resource>
                <class>Toni_Introduce_Model_Resource</class>
                <entities>
                    <user>
                        <table>introduce_user</table>
                    </user>
                </entities>
            </introduce_resource>

        </models>

        <resources>

            <introduce_setup>

                <setup>

                    <module>Toni_Introduce</module>

                </setup>

            </introduce_setup>

        </resources>

    </global>

    <crontab>
        <jobs>
            <introduce_ping>
                <schedule>
                    <cron_expr>*/1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>introduce/service::ping</model>
                </run>
            </introduce_ping>
        </jobs>
    </crontab>
    <default>

        <introduce>

            <settings>

                <custom_message><![CDATA[Hello World]]></custom_message>

            </settings>

        </introduce>

    </default>
</config>