<?xml version="1.0"?>
<config>
    <modules>
        <Toni_Intro>

            <active>true</active>
            <version>1.0.0.0</version>

        </Toni_Intro>
    </modules>
    <frontend>
        <routers>
            <toni_intro>
                <use>standard</use>
                <args>

                    <module>Toni_Intro</module>
                    <frontName>intro</frontName>

                </args>
            </toni_intro>
        </routers>
    </frontend>
</config>