<?xml version="1.0" encoding="UTF-8"?>

<config>
    <global>
        <resources>

            <toni_logger_setup>

                <setup>

                    <module>Toni_Logger</module>

                </setup>

            </toni_logger_setup>

        </resources>

        <helpers>

            <toni_logger>

                <class>Toni_Logger_Helper</class>

            </toni_logger>

            <toni_maxorderamount>

                <class>Toni_MaxOrderAmount_Helper</class>

            </toni_maxorderamount>

        </helpers>

        <modules>

            <Toni_MaxOrderAmount>

                <version>1.0.0.0</version>

            </Toni_MaxOrderAmount>

        </modules>

        <models>
            <toni_logger>

                <class>Toni_Logger_Model</class>

                <resourceModel>

                    toni_logger_resource</resourceModel>

            </toni_logger>

            <toni_logger_resource>

                <class>Toni_Logger_Model_Resource</class>

                <entities>

                    <logger>

                        <table>toni_logger_logger</table>

                    </logger>

                </entities>

            </toni_logger_resource>

        </models>



    </global>
    <frontend>

        <events>

            <sales_quote_save_before>

                <observers>

                    <toni_maxorderamount_enforceSingleOrderLimit>

                        <class>toni_maxorderamount/observer</class>

                        <method>enforceSingleOrderLimit</method>

                    </toni_maxorderamount_enforceSingleOrderLimit>

                </observers>

            </sales_quote_save_before>

        </events>

    </frontend>
</config>